<header>

	<a href="/featured"><h1 class="site-title"><i class="far fa-thumbs-up"></i> Help</h1></a>

	<nav class="navbar">
		<ul class="navelements">
			<li class="navitem"><a href="/featured">Featured</a></li>
			<li class="navitem"><a href="/new">New</a></li>
			<li class="navitem"><a href="/funny">Funny</a></li>
			<li class="navitem nav-search">
				<input type="text" id="nav-search-input" placeholder="Search...">
				<button type="button" id="nav-search-button"><i class="fas fa-search"></i></button>

			</li>
		</ul>
	</nav>
</header>