<section class="photo-item">
	<div class="image-container">
		<img class="product-image" src={{url}}>
	</div>
	<div class="item-name">
		<a href = "/people/{{name}}">{{name}}</a>
	</div>
</section>